body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

.Header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);

  color: #fcfcfc;
  padding: 0.5em 2em;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.Header--title-container {
  display: flex;
  align-items: center;
}

.Header--icon {
  width: 35px;
  height: 35px;
  margin-right: 1em;
}

.Header--title {
  font-size: 1.5em;
}

.Header--course-number {
  font-size: 0.9em;
  font-weight: 200;
  color: #ffffff;
  margin-right: 0.8em;
}

.Meme--form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1.5em;
}

main {
  padding: 2.25em;
}

.Meme--form > input {
  text-indent: 0.7em;
  font-family: "Karla", sans-serif;
  border: 1.4px solid #d5d4d8;
  border-radius: 0.4em;
}

.Meme--button {
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 0.7em 2em;
  border-radius: 0.4em;
  border: none;
  font-family: "Karla", sans-serif;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

.Meme--img {
  margin-top: 2em;
  width: 100%;
}

.Meme--container {
  position: relative;
}

.Meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
